.header,
.footer {
  color: white !important;
  background: #001529 !important;
}

.header {
  text-align: center;
  font-size: 30px;
  box-shadow: 0 0 24px 5px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}

.footer {
  box-shadow: 0 0 24px 5px rgba(0, 0, 0, 1);
  margin-top: 10px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}
